# Python
__pycache__/
*.pyc

# Entornos de Conda/Python
/api_escuela/
.env

# Archivos subidos por usuarios
# Ignora todo el contenido dentro de profile_pics
Backend/static/profile_pics/*

# Sistema Operativo
.DS_Store
Thumbs.db